/* This is the core CSS file for all problems. No need to change this file. 
Make your CSS changes in the problem-specific files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {font-family: "Open Sans", sans-serif;}

h1, h2 {color: #003857;}

.control {cursor: pointer;}

#instructionText {font-style: italic;}

/*
    Dark blue #003857
    Light blue #00a9e0
    Orange #fb4f14
 */